.circle{
    height: 65px;
    width: 65px;
    background-color: gray;
    border: 3px solid purple;
    border-radius: 50px;
    box-shadow: 0 0 0 2px #f3f5f6 inset;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.userImage{
    display: inline;
    cursor: pointer;
}
.userImage img{
    border-radius: 50px;
    height: 55px;
    width: 55px;
    object-fit: cover;
}

.userImagePost{
    height: 35px;
    width: 35px;
    background-color: gray;
    border:2px solid purple;
    border-radius: 50px;
    box-shadow: 0 0 0 5px #f3f5f6 inset;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.userImagePost img{
    object-fit: cover;
    height: 35px;
    width: 32px;
}