.story_available{
    background-color: gray;
    border: 3px solid purple;
    border-radius: 50px;
    box-shadow: 0 0 0 5px #f3f5f6 inset;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor:pointer;
}

.story_available_post{
    height: 35px;
    width: 35px;
    background-color: gray;
    border: 3px solid purple;
    border-radius: 50px;
    box-shadow: 0 0 0 2px #f3f5f6 inset;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor:pointer;   
}

/* Image, regardless of story available */
.userImage img{
    border-radius: 50px;
    object-fit: cover;
}